CovMatrix.svg
cpu_core_temp.pyZone.Identifier
ImportancePlot.svg
Leonardo_bags_Aula_robotica_2024-09-04-15-31-17_0.bag
Leonardo_bags_Aula_robotica_2024-09-04-15-54-13_0.bag
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0.bag
MAC_aguas_claras_2025-01-21-12-07-24_0.bag
MovingAverage.svg
Predictions.svg
telemetria.xlsx
Telemetry.svg
TempDetrend.svg
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/cpu_temp.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device1-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device1-set_joint_state.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device3-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device4-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device6-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-backLight.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-battery_1_signed_status.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-battery_2_signed_status.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-frontLight.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_percent.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_temp.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device1-get_current_actual_value.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device3-get_current_actual_value.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device4-get_current_actual_value.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device6-get_current_actual_value.csv
DemonstracaoTrechos.svg
