CovMatrix.svg
cpu_core_temp.pyZone.Identifier
ImportancePlot.svg
Leonardo_bags_Aula_robotica_2024-09-04-15-31-17_0.bag
Leonardo_bags_Aula_robotica_2024-09-04-15-54-13_0.bag
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0.bag
MAC_aguas_claras_2025-01-21-12-07-24_0.bag
MovingAverage.svg
Predictions.svg
telemetria.xlsx
Telemetry.svg
TempDetrend.svg
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/cpu_temp.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device1-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device1-set_joint_state.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device3-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device4-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/device6-get_current_actual_value.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-backLight.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-battery_1_signed_status.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-battery_2_signed_status.csv
Leonardo_bags_Aula_robotica_2024-09-04-16-13-19_0/espeleo_io-frontLight.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_percent.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_temp.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device1-get_current_actual_value.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device3-get_current_actual_value.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device4-get_current_actual_value.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/device6-get_current_actual_value.csv
DemonstracaoTrechos.svg
MovingAverageA.svg
MovingAverageB.svg
TelemetryCPU.svg
TelemetryMotors.svg
TelemetryTemperature.svg
TelemetryCPUZoom1.svg
TelemetryTemperatureZoom1.svg
TelemetryCPUZoom2.svg
TelemetryTemperatureZoom2.svg
TelemetryZoomCPU1.svg
TelemetryZoomCPU2.svg
TelemetryZoomTemperature1.svg
TelemetryZoomTemperature2.svg
grafico_vazio.png
Project 1.mp4
telemetria_temp.mp4
TelemetryVel.svg
VideoTelemetria.mp4
MAC_aguas_claras_2025-01-21-12-07-24_0/cmd_vel.csv
MAC_aguas_claras_2025-01-21-12-07-24_0/robot_vel.csv
itabira_galeria_oleo_frontal_jan-2025.mp4
__pycache__/telemetria.cpython-313.pyc
__pycache__/VideoTelemetria.cpython-313.pyc
output.mp4
teste.mp4
VideoTelemetria.vlclog.txt
VideoTelemetria.vlclog.txt
Project1.mp4
Project2.mp4
telemetria_aux.mp4
Screenshot_0.png
VideoTelemetria - EspeleoRobô MAC_aguas_claras_2025-01-21-12-07-24_0.vproj
VideoTelemetria - EspeleoRobô MAC_aguas_claras_2025-01-21-12-07-24_0.vproj.bak
VideoTelemetria.vlclog.txt
telemetria_aux.mp4
__pycache__/telemetry.cpython-313.pyc
telems/MAC_aguas_claras_2025-01-21-12-07-24_0.telemetry.pkl
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/cmd_vel.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_percent.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_temp.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/device1-get_current_actual_value.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/device3-get_current_actual_value.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/device4-get_current_actual_value.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/device6-get_current_actual_value.csv
telems/MAC_aguas_claras_2025-01-21-12-07-24_0/robot_vel.csv
telemetria_aux.mp4
cache/MAC_aguas_claras_2025-01-21-12-07-24_0.telemetry.pkl
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/cmd_vel.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_percent.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/cpu_temp.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/device1-get_current_actual_value.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/device3-get_current_actual_value.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/device4-get_current_actual_value.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/device6-get_current_actual_value.csv
cache/MAC_aguas_claras_2025-01-21-12-07-24_0/robot_vel.csv
__pycache__/tellib.cpython-313.pyc
__pycache__/tellib.cpython-313.pyc
VideoTelemetria.code-workspace
VideoTelemetria.vlclog.txt
